In [3]:
import pandas as pd
import numpy as np
from src.helping_functions import change_type

## Load and prepare data

In [4]:
df1 = pd.read_csv("../data/raw/df1.csv", index_col=0)
df1.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked
EmployeeNumber,,,,,,,,,,,,,,,,,,,
104,30.0,Travel_Rarely,852.0,Research & Development,1.0,1.0,Life Sciences,1.0,4.0,Male,55.0,2.0,2.0,Laboratory Technician,4.0,Married,5126.0,15998.0,1.0
1638,38.0,Travel_Rarely,397.0,Research & Development,2.0,2.0,Medical,1.0,4.0,Female,54.0,2.0,3.0,Manufacturing Director,3.0,Married,7756.0,14199.0,3.0
164,26.0,Travel_Rarely,841.0,Research & Development,6.0,3.0,Other,1.0,3.0,Female,46.0,2.0,1.0,Research Scientist,2.0,Married,2368.0,23300.0,1.0
395,28.0,Travel_Rarely,1117.0,Research & Development,8.0,2.0,Life Sciences,1.0,4.0,Female,66.0,3.0,1.0,Research Scientist,4.0,Single,3310.0,4488.0,1.0
53,35.0,Travel_Rarely,464.0,Research & Development,4.0,2.0,Other,1.0,3.0,Male,75.0,3.0,1.0,Laboratory Technician,4.0,Divorced,1951.0,10910.0,1.0

In [5]:
df1.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked
count,4449.000000,4449.000000,4449.000000,4449.000000,4449.0,4449.000000,4449.000000,4449.000000,4449.000000,4449.000000,4449.000000,4449.000000,4449.000000
mean,416.187458,801.017982,33339.433356,2.909867,1.0,2.719263,65.977073,2.739492,2.053495,2.724882,6468.496067,14276.196898,2.681726
std,1566.205147,405.605362,145352.131423,1.025184,0.0,1.093263,20.277369,0.712660,1.102979,1.107453,4682.905422,7149.079135,2.487077
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,30.000000,1.000000,1.000000,1.000000,1009.000000,2094.000000,0.000000
25%,31.000000,458.000000,2.000000,2.000000,1.0,2.000000,48.000000,2.000000,1.000000,2.000000,2899.000000,7973.000000,1.000000
50%,36.000000,804.000000,8.000000,3.000000,1.0,3.000000,66.000000,3.000000,2.000000,3.000000,4876.000000,14218.000000,2.000000
75%,45.000000,1162.000000,17.000000,4.000000,1.0,4.000000,84.000000,3.000000,3.000000,4.000000,8346.000000,20471.000000,4.000000
max,9890.000000,1499.000000,999590.000000,5.000000,1.0,4.000000,100.000000,4.000000,5.000000,4.000000,19999.000000,26999.000000,9.000000

In [ ]:
# columns to drop
to_drop = ["EmployeeCount"]
df1.drop(columns=to_drop, inplace=True)

# fix column type
to_int = ["Age", "DailyRate", "DistanceFromHome", "HourlyRate", "MonthlyIncome", "MonthlyRate"] 
to_int8 = ["Education", "EnvironmentSatisfaction", "JobInvolvement", "JobLevel", "JobSatisfaction", "NumCompaniesWorked"]
to_category = ["BusinessTravel", "Department", "EducationField", "Gender", "JobRole", "MaritalStatus"]

change_type(df1, to_int, "int")
change_type(df1, to_int8, "int8")
change_type(df1, to_category, "category")

In [11]:
df1.loc[df1["Age"] > 100]

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked
EmployeeNumber,,,,,,,,,,,,,,,,,,,
5010,8825.0,Travel_Rarely,1107.0,Human Resources,9.0,4.0,Technical Degree,1.0,1.0,Female,52.0,3.0,1.0,Human Resources,3.0,Married,2742.0,3072.0,1.0
5011,8825.0,Travel_Rarely,1107.0,Human Resources,9.0,4.0,Technical Degree,1.0,1.0,Female,52.0,3.0,1.0,Human Resources,3.0,Married,2742.0,3072.0,1.0
5030,3628.0,Travel_Frequently,544.0,Sales,3.0,2.0,Medical,1.0,2.0,Female,70.0,3.0,1.0,Sales Representative,4.0,Single,1569.0,18420.0,1.0
5048,6287.0,Travel_Rarely,1265.0,Research & Development,3.0,3.0,Life Sciences,1.0,3.0,Female,95.0,4.0,2.0,Laboratory Technician,4.0,Married,5231.0,23726.0,2.0
5049,6287.0,Travel_Rarely,1265.0,Research & Development,3.0,3.0,Life Sciences,1.0,3.0,Female,95.0,4.0,2.0,Laboratory Technician,4.0,Married,5231.0,23726.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7945,3437.0,Travel_Rarely,1299.0,Research & Development,27.0,3.0,Medical,1.0,3.0,Male,94.0,3.0,2.0,Healthcare Representative,3.0,Married,5237.0,16577.0,6.0
7946,3437.0,Travel_Rarely,1299.0,Research & Development,27.0,3.0,Medical,1.0,3.0,Male,94.0,3.0,2.0,Healthcare Representative,3.0,Married,5237.0,16577.0,6.0
7974,8823.0,Travel_Rarely,621.0,Research & Development,15.0,3.0,Medical,1.0,1.0,Female,73.0,3.0,3.0,Healthcare Representative,4.0,Married,7978.0,14075.0,1.0
7975,8823.0,Travel_Rarely,621.0,Research & Development,15.0,3.0,Medical,1.0,1.0,Female,73.0,3.0,3.0,Healthcare Representative,4.0,Married,7978.0,14075.0,1.0
7976,8823.0,Travel_Rarely,621.0,Research & Development,15.0,3.0,Medical,1.0,1.0,Female,73.0,3.0,3.0,Healthcare Representative,4.0,Married,7978.0,14075.0,1.0

In [ ]:
df1.info()

In [ ]:
df2 = pd.read_csv("../data/raw/df2.csv", index_col=0)
df2.head()

In [ ]:
df2.describe()

In [ ]:
# columns to drop
to_drop = ["Over18"]
df2.drop(columns=to_drop, inplace=True)

# fix column type
to_int = ["PercentSalaryHike", "StandardHours", "TotalWorkingYears", "TrainingTimesLastYear", "YearsAtCompany", 
    "YearsInCurrentRole", "YearsSinceLastPromotion", "YearsWithCurrManager", "YearlyIncome"] 
to_int8 = ["PerformanceRating", "RelationshipSatisfaction", "StockOptionLevel", "WorkLifeBalance"]
to_category = ["OverTime", "Attrition"]

change_type(df2, to_int, "int")
change_type(df2, to_int8, "int8")
change_type(df2, to_category, "category")

In [ ]:
df2.info()

NOTATKA:  
?? czy zmienne które przyjmują wartości od 1 do 5 lepiej przechowywać jako int czy jako category ??  
?? czy dwa razy czyszczenie danych w taki sposób zostawić, czy stworzyć lepiej do tego osobną funkcję ??

In [ ]:
full_df = pd.concat([df1, df2], axis=1)
full_df.to_csv("../data/processed/full_df.csv")
print("--end--")